Dit is project van Candy

In [9]:
import pandas as pd
import numpy as np
import math
from math import radians, cos, sin, asin, sqrt

#df["minutes"].iloc[762:771] = df["minutes"].iloc[762:771] + 1440 geeft warning: setting with copy --> weet niet wat het probleem is, werkt prima
pd.set_option('mode.chained_assignment', None)

In [10]:
#inlezen csv
df = pd.read_csv("taxi.csv", sep=";")

In [11]:
#Naar leesbare datumvermelding 
df["date_time"] = pd.to_datetime(df["Dt"])

#verschillende kolommen voor tijd en datum
df["date"] = df["date_time"].dt.date
df["time"] = df["date_time"].dt.time

#Tijd naar minuten omrekenen
minutes = pd.DatetimeIndex(df['date_time'])
df["minutes"] = minutes.hour * 60 + minutes.minute

#deel van de tijd op volgende dag --> minuten gaan van 1439 naar 0 --> maar gezien we in de code de minuten van elkaar moeten aftrekken + 1440 gedaan
df["minutes"].iloc[762:771] = df["minutes"].iloc[762:771] + 1440

df[0:10].head

<bound method NDFrame.head of      VgNr                        Dt        Lat       Lon Md Nv  \
0  378299  2017-09-28T11:18:25.000Z  52.373773  4.800460  O  B
1  378300  2017-09-28T11:19:25.000Z  52.373781  4.800459  O  B
2  378301  2017-09-28T11:20:25.000Z  52.373747  4.800462  O  B
3  378302  2017-09-28T11:21:25.000Z  52.373744  4.800482  O  B
4  378303  2017-09-28T11:22:25.000Z  52.373742  4.800489  O  B
5  378304  2017-09-28T11:23:25.000Z  52.373782  4.800505  O  B
6  378305  2017-09-28T11:24:25.000Z  52.373756  4.800447  O  B
7  378306  2017-09-28T11:25:25.000Z  52.373767  4.800489  O  B
8  378307  2017-09-28T11:26:25.000Z  52.373767  4.800485  O  B
9  378308  2017-09-28T11:27:25.000Z  52.373775  4.800453  O  B

      GPS Coordinaten           date_time        date      time  minutes
0  52.373773,4.800460 2017-09-28 11:18:25  2017-09-28  11:18:25      678
1  52.373781,4.800459 2017-09-28 11:19:25  2017-09-28  11:19:25      679
2  52.373747,4.800462 2017-09-28 11:20:25  2017-09-28  11:20:25      680
3  52.373744,4.800482 2017-09-28 11:21:25  2017-09-28  11:21:25      681
4  52.373742,4.800489 2017-09-28 11:22:25  2017-09-28  11:22:25      682
5  52.373782,4.800505 2017-09-28 11:23:25  2017-09-28  11:23:25      683
6  52.373756,4.800447 2017-09-28 11:24:25  2017-09-28  11:24:25      684
7  52.373767,4.800489 2017-09-28 11:25:25  2017-09-28  11:25:25      685
8  52.373767,4.800485 2017-09-28 11:26:25  2017-09-28  11:26:25      686
9  52.373775,4.800453 2017-09-28 11:27:25  2017-09-28  11:27:25      687  >

In [12]:
df["Lon_a"] = df["Lon"]
df["Lat_a"] = df["Lat"]
df["Lon_b"] = df["Lon"]
df["Lat_b"] = df["Lat"]

df.Lat_a = df.Lat_a.shift(1)
df.Lon_a = df.Lon_a.shift(1)

df[0:10].head

<bound method NDFrame.head of      VgNr                        Dt        Lat       Lon Md Nv  \
0  378299  2017-09-28T11:18:25.000Z  52.373773  4.800460  O  B
1  378300  2017-09-28T11:19:25.000Z  52.373781  4.800459  O  B
2  378301  2017-09-28T11:20:25.000Z  52.373747  4.800462  O  B
3  378302  2017-09-28T11:21:25.000Z  52.373744  4.800482  O  B
4  378303  2017-09-28T11:22:25.000Z  52.373742  4.800489  O  B
5  378304  2017-09-28T11:23:25.000Z  52.373782  4.800505  O  B
6  378305  2017-09-28T11:24:25.000Z  52.373756  4.800447  O  B
7  378306  2017-09-28T11:25:25.000Z  52.373767  4.800489  O  B
8  378307  2017-09-28T11:26:25.000Z  52.373767  4.800485  O  B
9  378308  2017-09-28T11:27:25.000Z  52.373775  4.800453  O  B

      GPS Coordinaten           date_time        date      time  minutes  \
0  52.373773,4.800460 2017-09-28 11:18:25  2017-09-28  11:18:25      678
1  52.373781,4.800459 2017-09-28 11:19:25  2017-09-28  11:19:25      679
2  52.373747,4.800462 2017-09-28 11:20:25  2017-09-28  11:20:25      680
3  52.373744,4.800482 2017-09-28 11:21:25  2017-09-28  11:21:25      681
4  52.373742,4.800489 2017-09-28 11:22:25  2017-09-28  11:22:25      682
5  52.373782,4.800505 2017-09-28 11:23:25  2017-09-28  11:23:25      683
6  52.373756,4.800447 2017-09-28 11:24:25  2017-09-28  11:24:25      684
7  52.373767,4.800489 2017-09-28 11:25:25  2017-09-28  11:25:25      685
8  52.373767,4.800485 2017-09-28 11:26:25  2017-09-28  11:26:25      686
9  52.373775,4.800453 2017-09-28 11:27:25  2017-09-28  11:27:25      687

      Lon_a      Lat_a     Lon_b      Lat_b
0       NaN        NaN  4.800460  52.373773
1  4.800460  52.373773  4.800459  52.373781
2  4.800459  52.373781  4.800462  52.373747
3  4.800462  52.373747  4.800482  52.373744
4  4.800482  52.373744  4.800489  52.373742
5  4.800489  52.373742  4.800505  52.373782
6  4.800505  52.373782  4.800447  52.373756
7  4.800447  52.373756  4.800489  52.373767
8  4.800489  52.373767  4.800485  52.373767
9  4.800485  52.373767  4.800453  52.373775  >

In [13]:
def haversine(lon1, lat1, lon2, lat2):
    """
    Calculate the great circle distance between two points 
    on the earth (specified in decimal degrees)
    """
    # convert decimal degrees to radians 
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])

    # haversine formula 
    dlon = lon2 - lon1 
    dlat = lat2 - lat1 
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a)) 
    r = 6371 # Radius of earth in kilometers. Use 3956 for miles
    return c * r

for index, row in df.iterrows():
    df.loc[index, 'distance'] = haversine(row['Lon_a'], row['Lat_a'], row['Lon_b'], row['Lat_b'])

df["distance"] = df["distance"].multiply(1000)

df[0:10].head

<bound method NDFrame.head of      VgNr                        Dt        Lat       Lon Md Nv  \
0  378299  2017-09-28T11:18:25.000Z  52.373773  4.800460  O  B
1  378300  2017-09-28T11:19:25.000Z  52.373781  4.800459  O  B
2  378301  2017-09-28T11:20:25.000Z  52.373747  4.800462  O  B
3  378302  2017-09-28T11:21:25.000Z  52.373744  4.800482  O  B
4  378303  2017-09-28T11:22:25.000Z  52.373742  4.800489  O  B
5  378304  2017-09-28T11:23:25.000Z  52.373782  4.800505  O  B
6  378305  2017-09-28T11:24:25.000Z  52.373756  4.800447  O  B
7  378306  2017-09-28T11:25:25.000Z  52.373767  4.800489  O  B
8  378307  2017-09-28T11:26:25.000Z  52.373767  4.800485  O  B
9  378308  2017-09-28T11:27:25.000Z  52.373775  4.800453  O  B

      GPS Coordinaten           date_time        date      time  minutes  \
0  52.373773,4.800460 2017-09-28 11:18:25  2017-09-28  11:18:25      678
1  52.373781,4.800459 2017-09-28 11:19:25  2017-09-28  11:19:25      679
2  52.373747,4.800462 2017-09-28 11:20:25  2017-09-28  11:20:25      680
3  52.373744,4.800482 2017-09-28 11:21:25  2017-09-28  11:21:25      681
4  52.373742,4.800489 2017-09-28 11:22:25  2017-09-28  11:22:25      682
5  52.373782,4.800505 2017-09-28 11:23:25  2017-09-28  11:23:25      683
6  52.373756,4.800447 2017-09-28 11:24:25  2017-09-28  11:24:25      684
7  52.373767,4.800489 2017-09-28 11:25:25  2017-09-28  11:25:25      685
8  52.373767,4.800485 2017-09-28 11:26:25  2017-09-28  11:26:25      686
9  52.373775,4.800453 2017-09-28 11:27:25  2017-09-28  11:27:25      687

      Lon_a      Lat_a     Lon_b      Lat_b  distance
0       NaN        NaN  4.800460  52.373773       NaN
1  4.800460  52.373773  4.800459  52.373781  0.892146
2  4.800459  52.373781  4.800462  52.373747  3.786109
3  4.800462  52.373747  4.800482  52.373744  1.398088
4  4.800482  52.373744  4.800489  52.373742  0.524662
5  4.800489  52.373742  4.800505  52.373782  4.578499
6  4.800505  52.373782  4.800447  52.373756  4.884774
7  4.800447  52.373756  4.800489  52.373767  3.102474
8  4.800489  52.373767  4.800485  52.373767  0.271542
9  4.800485  52.373767  4.800453  52.373775  2.347412  >